# Copy to .env and generate a unique private secret before starting.
SECRET_KEY=
DEMO_MODE=true
PUBLIC_URL=http://localhost
SITE_ADDRESS=:80
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
